@using Ticy.Web.Common
@model  Ticy.Web.ViewModels.ThreadDetailsViewModel
@{
    ViewBag.Title = string.Format("{0} - Tang Inang Code Yan!", Model.Entity.Title);
}
@section bodyHeader{
    <div class="jumbotron" style="width:100%">
        <center>
            <h1 class="thread-title">@Model.Entity.Title</h1>
        </center>
        <p>
            <a class="btn btn-success pull-right" href="/t/prev?id=@ViewHelper.ConvertToHash(Model.Entity.Id)">older</a>
            <a class="btn btn-success pull-left" href="/t/next?id=@ViewHelper.ConvertToHash(Model.Entity.Id)">newer</a>
        </p>
    </div>
}
<div id="main-content">
    @if (Model.Entity.ContentType == Likja.Conthread.ContentType.Code)
    {
        <pre class="line-numbers"><code class="language-@Model.Entity.LanguageClass">@Model.Entity.Content</code></pre>
    }
    else if (Model.Entity.ContentType == Likja.Conthread.ContentType.Image)
    {
        <center>
            <img src="@Model.Entity.Content" alt="@Model.Entity.Title" />
        </center>
    }
    else if (Model.Entity.ContentType == Likja.Conthread.ContentType.Text)
    {
        <p>@Model.Entity.Content</p>
    }
    else
    {
        <p>@Model.Entity.Content</p>
    }
</div>


<div id="disqus_thread"></div>
@Scripts.Render(BundleConfig.ObfuscateMap["~/disqus"])
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
