<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render(BundleConfig.ObfuscateMap["~/css"])
    @Styles.Render(BundleConfig.ObfuscateMap["~/prism-css"])
    @Scripts.Render(BundleConfig.ObfuscateMap["~/modernizr"])
    @Scripts.Render(BundleConfig.ObfuscateMap["~/jquery"])
</head>
<body>
    @RenderSection("bodyheader", required: false)
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Tang Inang Code Yan!", "Index", "Home", new { area = "" }, new { @class = "navbar-brand app-title" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("New Thread", "New", "Home")</li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ticy.org | <a href="http://likja.com">likja</a></p>
        </footer>
    </div>
    @Scripts.Render(BundleConfig.ObfuscateMap["~/bootstrap"])
    @Scripts.Render(BundleConfig.ObfuscateMap["~/prism"])
    @RenderSection("scripts", required: false)
    <!--analytics-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-57233360-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
